**/__pycache__
**/.classpath
**/.dockerignore
**/.env
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/*.log
README.md
.cloud_sql_proxy
.coveragerc
.gcloud_config
.vscode
docs/build
tmp
.pytest_cache
.venv
